.cache/
.ivy2/
.sbt/
.idea/
.vscode/
.scala_history_jline3
main
project/project/
project/target/
target/
test/assignment_testcases/
lib/lexer.jar
src/lexer/Lexer.java
src/lexer/Lexer.java~
src/lexer/parser.java
src/lexer/sym.java
tmp.out
test.out